.response-container {
  display: none;
  height: fit-content;
}

.response-container.show {
  display: block;
}

.response-container h3 {
  text-align: center;
  color: var(--secondary);
  white-space: nowrap;
}

.response-container .response-row {
  display: flex;
  gap: 10px;
}

.response-container .response-row .response-key {
  color: var(--secondary);
}

.response-container .response-row .response-value {
  color: var(--primary);
}